[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
framework = {editable = true, path = "./../framework"}

[packages]
scriptconfig = "==0.5.6"

[requires]
python_version = "3.7"
