[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7"
flake8-black = "==0.2.0"
flake8-bugbear = ">=20.1"
flake8-builtins = ">=1.5"
flake8-comprehensions = ">=3.2"
flake8-docstrings = ">=1.5"
flake8-eradicate = "==0.3.0"
flake8-mutable = ">=1.2"
flake8-mypy = ">=17.8"
flake8-polyfill = ">=1.0"
flake8-quotes = ">=3.0"
pep8-naming = "==0.10.0"
black = "==19.10b0"
pytest = ">=6.0.1"
coverage = ">=5.2.1"
sphinx-press-theme = "==0.5.1"
sphinx-autodoc-typehints = ">=1.11.0"
Sphinx = ">=3.2.1"
types-pkg-resources = "==0.1.2"
types-requests = "==0.1.10"
types-six = "==0.1.6"
types-toml = "==0.1.1"

[packages]
scriptconfig = "==0.5.6"
numpy = ">=1.18.3"
pandas = ">=1.0.3"
scikit-learn = ">=0.22.1"
scipy = ">=1.4.1"
requests = ">=2.23.0"
importlib-metadata = ">=1.6.0"
tqdm = ">=4.50.0"
ubelt = "==0.9.2"
flask = ">=1.1.2"
requests-toolbelt = ">=0.9.1"
nltk = ">=3.5"
click = ">=7.1"
smqtk-core = "==0.15.0"
cachetools = "==4.1.1"
gunicorn = ">=20.0.4"
matplotlib = ">=3.2.2"
torch = ">=1.6.0"
tenacity = ">=7.0.0"
tinker-engine = {editable = true, path = "./../tinker-engine"}
sail-on = {editable = true, path = "./../Sail-On-API"}
sailon-tinker-launcher = {editable = true, path = "./../sailon_tinker_launcher"}
sail-on-evaluate = {editable = true, path = "./../Sail_On_Evaluate"}
sail-on-client = {editable = true, path = "."}
versioneer = "==0.19"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8"
format = "black ."
test-with-coverage = "coverage run --source=. -m pytest tests"
coverage-report = "coverage report -m"
coverage-xml = "coverage xml"
get-missing-types = "mypy --install-types"
typecheck = "mypy -p sail_on_client --disallow-untyped-defs"
docs = "sphinx-build docs/source/ docs/build/html/"
